<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование единицы техники</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"  />

</head>
<body>
<div>
    <form action="/checkEdit" method="POST">
        <input type="text" name="id" contenteditable="false" th:value="${technicsToEdit.id}"/>
        <input type="text" name="deviceType" th:value="${technics.deviceType}" />
        <input type="text" name="deviceName"  th:value="${technics.deviceName}" />
        <input type="text" name="serialNumber"  th:value="${technics.serialNumber}" />
        <input type="text" name="inventoryNumber"  th:value="${technics.inventoryNumber}" />
        <input type="text" name="holder"  th:value="${technics.holder}" />
        <input type="text" name="propertyOwner"  th:value="${technics.propertyOwner}" />
        <input type="text" name="description"  th:value="${technics.description}" />
        <input type="text" name="date"  th:value="${technics.date}" />
        <input type="text" name="location"  th:value="${technics.location}" />
    </form>
</div>
</body>
</html>