<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"  />

</head>
<body>
    <div>
        <table>
            <tr>
                <td><textarea id="fioInput" cols="40" placeholder="Введете ФИО"></textarea></td>
                <td><textarea id="serialNumberInput" cols="40" placeholder="Введете S/N"></textarea></td>

            </tr>
            <tr>
                <td><a href="/allTechnics"><input type="button" value="Найти" /></a></td>
                <td><a href="/allTechnics"><input type="button" value="Найти" /></a></td>
            </tr>
        </table>
    </div>


</body>
</html>