<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"  />

</head>
<body>
    <div>
        <table>
            <tr>
                <td><textarea id="fioInput" cols="40" placeholder="Введите ФИО"></textarea></td>
                <td><textarea id="serialNumberInput" cols="40" placeholder="Введите S/N"></textarea></td>
            </tr>
            <tr>
                <td><a href=""><input id="fioButton" type="button" value="Найти" /></a></td>
                <script>
                    var fioButton = document.getElementById('fioButton');

                    function printFio(){
                        var fio = document.getElementById('fioInput').value;
                        alert(fio);
                    };
                    fioButton.addEventListener("click", printFio);

                </script>
                <td><a href="/allTechnics"><input type="button" value="Найти" /></a></td>
            </tr>
        </table>
    </div>

    <script>
        document.querySelector("#fioInput")
    </script>


</body>
</html>