<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"  />

</head>
<body>

<div class="container">


    <div>
        <table class="techTable">
            <thead>
            <tr class="tableRow">
                <td>ID</td>
                <td>Тип оборудования</td>
                <td>Название оборудования</td>
                <td>Серийный номер</td>
                <td>Инвентарный номер</td>
                <td>ФИО</td>
                <td>Собственность</td>
                <td>Коментарий</td>
                <td>Дата</td>
                <td>Расположение</td>
                <td>Действия</td>
            </tr>
            </thead>
            <tr th:each="technics : ${listOfTechnics}" class="tableRow">
                <td th:text="${technics.id}">id</td>
                <td th:text="${technics.deviceType}">name</td>
                <td th:text="${technics.deviceName}">device name</td>
                <td th:text="${technics.serialNumber}">serial_number</td>
                <td th:text="${technics.inventoryNumber}">inventory_number</td>
                <td th:text="${technics.holder}">holder</td>
                <td th:text="${technics.propertyOwner}">property_owner</td>
                <td th:text="${technics.description}">description</td>
                <td th:text="${technics.date}">date</td>
                <td th:text="${technics.location}">location</td>
                <td><a th:href="@{/edit(id=${technics.id})}">Редактировать</a>
                    <a class="delete" th:href="@{/deleteTechnics(id=${technics.id})}">Удалить</a>
                </td>
            </tr>
        </table>
    </div>

    <h3><a href="/">На главную</a></h3>
</div>
<!-- /.container -->
<script th:inline="javascript">
    /*<![CDATA[*/

    var elems = document.getElementsByClassName('delete');
    console.log(elems)
    var confirmIt = function (e) {
        if (!confirm('Уверены, что хотите удалить?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

    /*]]>*/
</script>
</body>
</html>