<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"  />

</head>
<body>

<div class="container">


    <div class="header">
        <span><a href="/addPosition">Добавить позицию</a></span>
        <span><a href="/technicsList">Весь список</a></span>
    </div>

    <div>
        <table class="techTable">
            <thead>
            <tr class="tableRow">
                <td>ID</td>
                <td>
                    <span>Тип оборудования</span>
                    <form method="post" action="/filterByDeviceType">
                        <input type="text" name="deviceType" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Название оборудования</span>
                    <form method="post" action="/filterByDeviceName">
                        <input type="text" name="deviceName" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Серийный номер</span>
                    <form method="post" action="/filterBySerialNumber">
                        <input type="text" name="serialNumber" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>Инвентарный номер
                    <form method="post" action="/filterByInventoryNumber">
                        <input type="text" name="inventoryNumber" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>ФИО</span>
                    <form method="post" action="/filterByHolder">
                        <input type="text" name="holder" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Собственность</span>
                    <form method="post" action="/filterByPropertyOwner">
                        <input type="text" name="propertyOwner" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Коментарий</span>
                    <form method="post" action="/filterByDescription">
                        <input type="text" name="description" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Дата</span>
                    <form method="post" action="/filterByDate">
                        <input type="text" name="date" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>
                    <span>Расположение</span>
                    <form method="post" action="/filterByLocation">
                        <input type="text" name="location" class="filterInput"/>
                        <input type="submit" value="Фильтровать"/>
                    </form>
                </td>
                <td>Действия</td>
            </tr>
            </thead>
            <tr th:each="technics : ${listOfTechnics}" class="tableRow">
                <td th:text="${technics.id}">id</td>
                <td th:text="${technics.deviceType}">name</td>
                <td th:text="${technics.deviceName}">device name</td>
                <td th:text="${technics.serialNumber}">serial_number</td>
                <td th:text="${technics.inventoryNumber}">inventory_number</td>
                <td th:text="${technics.holder}">holder</td>
                <td th:text="${technics.propertyOwner}">property_owner</td>
                <td th:text="${technics.description}">description</td>
                <td th:text="${technics.date}">date</td>
                <td th:text="${technics.location}">location</td>
                <td><a th:href="@{/edit(id=${technics.id})}">Редактировать</a>
                    <a class="delete" th:href="@{/deleteTechnics(id=${technics.id})}">Удалить</a>
                </td>
            </tr>
        </table>
    </div>

    <h3><a href="/">На главную</a></h3>
</div>
<!-- /.container -->
<script th:inline="javascript">
    /*<![CDATA[*/

    var elems = document.getElementsByClassName('delete');
    console.log(elems)
    var confirmIt = function (e) {
        if (!confirm('Уверены, что хотите удалить?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

    /*]]>*/
</script>
</body>
</html>